target/*
.settings/*
.classpath
.project
.idea
*.iml
/target
Jenkinsfile

generated/

# Easier branch switching
springboot-petclinic-client/
springboot-petclinic-server/
/.editorconfig
/.mvn/
